build/
CMakeFiles/
_CPack_Packages/
Testing/
.vs/

CMakeCache.txt
cmake_install.cmake
config.h
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
install_manifest.txt
Makefile
missing
osslsigncode
osslsigncode.exe
stamp-h1

.#*#
.*.bak
.*.rej
.*~
#*#
*.asc
*.bak
*.bz2
*.d
*.def
*.dll
*.gz
*.la
*.lib
*.lo
*.pc
*.pdb
*.rej
*.u
*.rc
*~
